body {
    background-color: #ffc95e;
  }
  
.jumbotron {
    text-align: center;
    background-color: #ffc95e;
  }

  img {
    width: 300px;
    height: auto;
  }

  hr {
    border: 1px solid black;
  }

  h1 {
    color: #ff3806;
  }

  p {
    padding-top: 6px;
    padding-right: 28px;
  }

  .fas {
    padding-top: 0;
    margin-top: 0;
  }
  
  #trashbutton {
    float: right;
    padding: 4px;
  }

  .list-group-item {
    background-color: #ffe8b7;
    border: none;
  }
  
  .enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #enter_text {
    width: 300px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 20px;
  }

  #text-enter-button {
    margin-bottom: 28px;
  }

  .form-control {
    background-color: #ffe8b7;
    border: none;
  }
      /* Google Chrome */
  .form-control::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
      /* Mozilla Firefox */
  .form-control::-moz-placeholder {
    color: black;
    font-weight: bold;
  }
      /* Internet Explorer */ 
  .form-control:-ms-input-placeholder {
    color: black;
    font-weight: bold;
  }
      /* Opera */
  .form-control:-o-input-placeholder {
    color: black;
    font-weight: bold;
  }
  
  